<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="bg-dark col-auto col-md2 min-vh-100">
            <div class="bg-dark p-2">
                <a class="d-flex text-decoration-none align-items-center">
                    <span class="fs-4 d-none d-sm-inline">Estoque</span>
                </a>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="" class="nav-link">Listagem</a>
                    </li>
                </ul>
                <div class="d-flex me-3">
                    <button class="btn btn-success" routerLink="estoque/adicionar"><span class="text-white">Adicionar</span></button>
                </div>
            </div>
        </div>
    </div>
</div>